AddressFamily any
ListenAddress 0.0.0.0

ClientAliveInterval 120
LoginGraceTime 2m
MaxAuthTries 3
MaxSessions 10
PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys
PasswordAuthentication yes
PermitEmptyPasswords no

Subsystem	sftp	internal-sftp

Match Group sftpgroup
	ChrootDirectory %h
	ForceCommand internal-sftp
	X11Forwarding no
	AllowTcpForwarding no